services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: casino-backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/casino_db
      SECRET_KEY: "super-secret-key"
      ACCESS_TOKEN_EXPIRE_MINUTES: 60
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: casino-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: casino_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
